body{
    font-family: 'Ubuntu', sans-serif;
}

h2{
    font-weight: 400;
}

p{
    font-weight: 300;
}

.container{
    margin: 0 auto;
    width: 90%;
}

.flex{
    display: flex;
}

.center-text{
    text-align: center;
}

.precio{
    font-size: 50px;
    color: aqua;
}
