body{
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
}



h2{
    font-weight: 400;
}

p{
    font-weight: 300;
}

.container{
    margin: 0 auto;
    width: 90%;
}

.flex{
    display: flex;
}

.center-text{
    text-align: center;
}

.columna{
    background: rgb(219, 133, 3);
    color: rgb(46, 33, 33);
    border: 5px solid rgb(46, 33, 33);
    margin: 10px;
    padding: 10px;
    
}

.precio{
    font-size: 50px;
    color: aqua;
}
